*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif; 
    box-sizing: border-box;
   }
   body{
       background-color: #080808 !important;
       color:#fff;
   }
   #header{
       width: 100%;
       height: 100vh;
       background-image: url("img/samantha-gades-BlIhVfXbi9s-unsplash\ -\ Copy.jpg");
       background-size: cover;
       background-repeat: no-repeat;
       background-attachment: fixed;
       
       
       
   }
 .container{
  padding: 10px 10%;
 }
   
   nav{
       display: flex;
       align-items: center;
       justify-content: space-between;
       flex-wrap: wrap;
   }
   .logo{
       width:140px
   }
   nav ul li{
       display:inline-block;
       list-style: none;
       margin: 10px 20px;
   }
   nav ul li a{
       color: #080808;
       text-decoration: none;
       font-size: 18px;
       position: relative;
    

    
   }
   nav ul li a::after{
       content:'';
       width: 10%;
       height: 3px;
       background:#ff004f;
       position: absolute;
       left: 0;
       bottom: -6px;
       transition: 0.5s;
   }
   nav ul li a:hover::after{
       width: 100%;
   }
   .header-text{
       margin-top: 20%;
       font-size: 30px;
       color: #080808;
       padding-bottom: 50px;
       margin-top:-10px
    
    
       
      
   }
   .header-text h1{
       font-size: 60px;
       margin-top: 20px;
       color: #ff004f;
       margin: 10px;
       
   }
   .header-text h1 span{
       color: #ff004f;
   }
   /*-------about--------*/
   #about{
    padding: 80px 0;
    color: #fcfcfc;
    
   }
   .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
   }
   .about-col-1{
    flex-basis: 35%;
   
   }
   .about-col-1 img{
    width: 100%;
    border-radius: 15px;

   }
   .about-col-2{
   flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
  .tab-titles{
    display: flex;
    margin: 20px 0 40px;

  } 
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute; 
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
  .tab-links.active-link::after{
    width: 50%;

  }
  .tab-content ul li{
    list-style: none;
    margin: 10px 0;

  }
  .tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
  }
.tab-content{
    display: none;
}
.tab-contents.active-tab{
display: block;
}

/*-----------services--------------*/
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    /* transition: background 0.5s, transform 0.5s; */
}
.services-list div:hover{
     background-color: #ff004f;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    }
    .services-list div h2{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    .services-list div a{
        text-decoration: none;
        color:#262626;
        font-size: 12px;
        margin: 20px;
        display: incline-block;
    }
    .services-list div{
        background: #fcfcfc;
        transform: translateY(-10px);
    }

    /*-----------portfolio-------------*/
    #portfolio{
        padding: 50px 0;
    }
    .work-list{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }
    .work{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        flex-direction: row;
    }
    .work img{
        width: 15%;
        border-radius: 10px;
        display: block 

      }
      .layer{
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
        border-radius: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        font-size: 14px;
        
          } 
          .layer h3{
            font-weight: 500;
            margin-bottom: 20px;
          }
          .layer a{
            margin-top: 20px;
            color: #ff004f;
            text-decoration: none;
            font-size: 18px;
            line-height: 60px;
            background: #fff;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            text-align: center;
          }
          .work:hover img{
            transform: scale(1.1);
          }
          .work:hover .layer{
            height:100%

          }
          .slide-container{
            font-family:'poppins',sans-serif;
            margin: 0; padding: 0;
            box-sizing: border-box;
            text-transform: capitalize;
          }

         

          .btn{
            display: block;
            margin: 50px auto;
            width:fit-content;
            border: 1px solid #ff004f;
            padding: 14px 50px;
            border-radius: 6px;
            text-decoration: none;
            color: #fff;
          }

          .contact-left p{
            margin-top: 30px;
          }
          .contact-left p i{
            color:#ff004f;
            margin-right: 15px;
            font-size: 25px;
          }

          .social-icons{
            margin-top: 30px;
          }
          .social-icons a{
            text-decoration: none;
            font-size: 30px;
            margin-right: 15px;
            color:#fff;
            display: inline-block;
            transition: transform 0.5s;
          }
          .social-icons a:hover{
            color: #ff004f;
            transform: translateY(-5px);
            
          }
          .btn.btn2{
            display: inline-block;
            background: #ff004f;
          }
          .contact-right form{
            width: 100%;
          }
          form input, form textarea{
            width: 100%;
            border: 0;
            outline: none;
            background: #fff;
            padding: 15px;
            margin: 15px 0;
            color: #fff;
            font-size: 18px;
            border-radius: 6px;
          }
          form .btn2{
            padding: 14px 60px;
            font-size: 18px;
            margin-top: 20px;
            cursor: pointer;
          }
          
          .contact{
            max-width: 800px;
            margin: 50px auto;
            position: relative;
            box-shadow: 0 10px 30px 0px rgba(247, 3, 68, 0.1);
            padding: 30px;
          }
          .contact-form .form-field{
            position: relative;
            margin: 32px 0;
          }

          .contact-form .input-text{
            display: block;
            width: 100%;
            height: 36px;
            border-width: 0 0 2px 0;
            border-color: #ff004f;
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
          }
          .contact-form .input-text:focus{
            outline: none;
          }
         
          .contact-form .submit-btn{
            display: inline-block;
            background-image: linear-gradient(125deg, #ff004f,#970645);
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 16px;
            padding: 8px 16px;
            border: none;
            width: 200px;
            cursor: pointer;

          }
          <!------testimonial-------> 
          /* /* .px-4 {
            padding-top: 150px;
            padding-bottom: 150px;
          } */
          */



            
          
          
          
        
/* ===================================== */
.card-container, .front, .back {
	width: 20rem;
	height: 25rem;
}
.card-container {
	margin: 5rem;
}
.front, .back {
	box-sizing: border-box;
	padding: 2rem;
	border-radius: 4px;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .25);

	font-family: BlinkMacSystemFont, "Segoe UI", sans-serif;
	font-size: 2rem;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}


 .front {
    background-color: black;

}

.frontimage{
    border-radius: 50%;
}


 .back 
 {
	background-color: black;
}

.card-container {
	position: relative;
} */


/* .front, .back {
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
	overflow: hidden;
	transition: transform .8s ease;
}
.back {
	transform: rotateY(180deg);
}
.card-container:hover .front {
	transform: rotateY(-180deg);
}
.card-container:hover .back {
	transform: rotateY(0deg);
} */
/* 
.card-container {
	perspective: 75rem;
} */



/* second card */

.bottomclass{

    background-color:black ;
    height: 500px;
    width:500px;
    color:#fff;
}
.oslinImg{
    width: 150px;
    border-radius: 100%;
    margin-top: 10px;
    margin-left: 150px;
background-color: black ;
}

.icons{
    text-align: center;
    margin-right: 100px;
}













